<div>
    <h1>{{page.title.title}}</h1>
    <span class="small-divider"></span>
    <h2 *ngIf="!!page.title.subTitle">{{page.title.subTitle}}</h2>
</div>

<span class="large-divider"></span>

<div *ngFor="let section of page.sections">
    <h3>{{section.header.header}}</h3>
    <span class="small-divider"></span>
    <h4 *ngIf="!!section.header.description">{{section.header.description}}</h4>
    <span class="medium-divider"></span>
    <div *ngFor="let content of section.content">
        <p>{{content.paragraph}}</p>
        <div *ngIf="!!content.picture">
            <img src="{{content.picture}}">
        </div>
    </div>
    <span class="large-divider"></span>
</div>