:host {
  display: block;
}

img {
  max-height: 475px;
  max-width: 1250px;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
}

h1 {
  font-family: abuget;
  font-size: 3.7em;
  font-weight: lighter;
  padding-top: 15px;
  margin-bottom: 15px;
}

h2 {
  font-family: simplePrint;
  font-weight: normal;
  font-size: 1.8em;
}

h3 {
  font-family: abuget;
  font-size: 2.3em;
  font-weight: normal;
  margin: 15px auto;
}

h4 {
  font-family: simplePrint;
  font-weight: normal;
  font-size: 1.5em;
  margin: 15px auto;
}

.small-divider {
  display: block;
  width: 50%;
  border-top: 4px solid #c585b3;
}

.medium-divider {
  display: block;
  width: 75%;
  border-top: 4px solid #B1839E;
  margin: 15px 0;
}

.large-divider {
  display: block;
  width: 100%;
  border-top: 4px solid #9d8189;
  margin: 20px auto;
}