:host {
  display: block;
}

#header {
  padding-top: 55px;
}

img {
  max-height: 400px;
  max-width: 1250px;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
}

h1 {
  font-family: abuget;
  font-size: 3.7em;
  font-weight: lighter;
  display: inline;
  padding-right: 25px;
}

h2 {
  font-family: simplePrint;
  font-weight: normal;
  font-size: 1.8em;
  display: inline;
}

h3 {
  font-family: abuget;
  font-size: 2.7em;
  font-weight: normal;
  margin: 15px auto;
  display: inline;
  margin-right: 20px;
}

h4 {
  font-family: simplePrint;
  font-weight: normal;
  font-size: 1.5em;
  margin: 15px auto;
  display: inline;
}

.inline {
  display: inline;
}

.small-divider {
  display: block;
  width: 50%;
  border-top: 4px solid #c585b3;
}

.medium-divider {
  display: block;
  width: 75%;
  border-top: 4px solid #B1839E;
  margin: 15px 0;
}

.large-divider {
  display: block;
  width: 100%;
  border-top: 4px solid #9d8189;
  margin: 20px auto;
}

.dot-divider {
  height: 20px;
  width: 20px;
  background-color: #c585b3;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}