<h1>About</h1>

<p>Here there! I'm Ele15 aka Ele aka Julia.</p>

<p>I choose Ele15 on my 'online' name as elephants are my favorite animal.  I have no idea where the 15 came from lol.  My name is Julia tho!  This website is branded around my online name because I plan on streaming quilting under Ele15.  If you found this website through Twitch though, you probably realized that.</p>

<p>I'm a professional Software Engineer, so this whole website was created by me from the ground up.  It is developed with Angular and deployed using Heroku.</p>
