.title {
    font-family: abuget;
    color:  white;
    margin-left: 10px;
    font-size: xx-large;
}

header {
    background-color: #37372F;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    display: flex;
    align-items: center;
}

.link , header button {
    color: white;
    text-decoration: none;
}

a {
    display: inline-block;
    padding: 10px 5px;
}

a:hover {
    background-color: black;
}

header li, header a {
    display: inline;
}

header li, header button {
    margin: 10px 5px;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid white;
    display: inline-block;
}

button {
    background-color: inherit;
    border-color: inherit;
    border-style: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 5px;
    box-sizing: inherit;
    font-size: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}